// Text size mixin
@mixin fontScale($amount) {
	font-size: $amount;

	@include break(md) {
		font-size: $amount * 0.9;
	}
	@include break(sm) {
		font-size: $amount * 0.75;
	}
	@include break(xs) {
		font-size: $amount * 0.6;
	}
}